body {
    font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 300 !important;
    line-height: 1.5em !important;
    color: rgba(0, 0, 0, 0.87) !important;
    min-height: 100vh !important;
}
.main {
    padding-top: 0 !important;
	font-family:  "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important; ;
 	font-size: 14px !important;;
}


[class*='gradient-'] {
    background-repeat: repeat !important;
}
.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
#coming-soon[_ngcontent-c0] .formprofile[_ngcontent-c0] {
    margin: 15px auto 0;
    position: relative;
    top: 0;
    -webkit-box-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
}
.card {

    margin: 18px 0;
}
.card {
    font-weight: normal;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;

}
.card .card-body {
    padding: 0;
    height: auto;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.pl-3, .px-3 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
#coming-soon[_ngcontent-c0] .formprofile[_ngcontent-c0] .text-center[_ngcontent-c0] {
    padding: 5px 0;
}
.text-center {
    text-align: center !important;
}
.align-self-center {
    -ms-flex-item-align: center !important;
    -ms-grid-row-align: center !important;
    align-self: center !important;
}
#coming-soon[_ngcontent-c0] .profile-image[_ngcontent-c0] img[_ngcontent-c0] {
    border-radius: inherit;
    padding: 10px 0;
}
.rounded-circle {
    border-radius: 50%;
}
img {
    vertical-align: middle;
    border-style: none;
}
#coming-soon[_ngcontent-c0] .formprofile[_ngcontent-c0] .subs-terms[_ngcontent-c0] {
    padding: 8px 0 18px 0;
}
p {
    letter-spacing: 0.3px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
#coming-soon[_ngcontent-c0] .formprofile[_ngcontent-c0] .form-body[_ngcontent-c0] {
    padding-top: 0px;
}
form .form-body {
    overflow: hidden;
}
.card .card-block {
    padding: 0.5rem 1.5rem 1.5rem;
}
#coming-soon[_ngcontent-c0] .formprofile[_ngcontent-c0] .form-actions[_ngcontent-c0] {
    text-align: center;
}

form .form-actions {
    border-top: 1px solid #d3dce9;
    padding: 20px 0;
    margin-top: 20px;
}
#coming-soon[_ngcontent-c0] .btn-danger.btn-raised.sub-button[_ngcontent-c0], #coming-soon[_ngcontent-c0] .btn-danger.btn-fab[_ngcontent-c0] {
    background-color: #e91e63 !important;
    color: #ffffff !important;
    border-color: #e91e63;
    margin-bottom: 0;
}
.form-actions .btn.btn-raised.btn-raised{
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 0.75rem;
    font-size: 16px;
    font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    line-height: 1.25;
    border-radius: 0.25rem;
    text-transform: none;
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
#coming-soon[_ngcontent-c0] .footer-comingsoon[_ngcontent-c0] {
    float: left;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 13px 10px;
}
#coming-soon[_ngcontent-c0] .footer-comingsoon[_ngcontent-c0] .footermenulink[_ngcontent-c0] {
    float: none;
}
#coming-soon[_ngcontent-c0] .footer-comingsoon[_ngcontent-c0] .footermenulink[_ngcontent-c0] ul[_ngcontent-c0] {
    margin: 0;
    padding: 0;
}
#coming-soon[_ngcontent-c0] .footer-comingsoon[_ngcontent-c0] .footermenulink[_ngcontent-c0] li[_ngcontent-c0] {
    float: left;
    padding: 0 30px 0 0;
    list-style: none;
}
#coming-soon[_ngcontent-c0] .footer-comingsoon[_ngcontent-c0] .footermenulink[_ngcontent-c0] li[_ngcontent-c0] a[_ngcontent-c0] {
    color: #fff;
}
#coming-soon[_ngcontent-c0] .footer-comingsoon[_ngcontent-c0] .footermenulink[_ngcontent-c0] li[_ngcontent-c0] {
    float: left;
    padding: 0 30px 0 0;
    list-style: none;
}
#coming-soon[_ngcontent-c0] .footer-comingsoon[_ngcontent-c0] .copyright[_ngcontent-c0] {
    float: right;
    color: #fff;
}

table.ccm-calendar-grid td{
    width: 32px;
    height: 32px;
    text-align: center;

}
.calendar-top input[type="button"] {
    border: none;
    background: none;
    font-size: 28px;
    font-weight: 900;
    color: gray;
}
.calendar-top input[type="submit"] {
    height: 25px;
    border: none;
    padding: 0 9px;
    text-align: center;
    vertical-align: middle;
}
table.ccm-calendar-grid {
    margin-top: 0;
    padding-top: 5px;
}
table.calendar-top {
    background: #fafafa;
    width: 100%;
}
.calendar-top td {
    padding-bottom: 5px;
    text-align: center;
}
.tab-head td {
    color: #5bc0de;
    font-style: italic;
}
table.ccm-calendar-grid td.ccm-calendar-today div.ccm-calendar-date {
    background-color: #e91e63 !important;
    color: white;
}
#coming-soon[_ngcontent-c0] .first-etape .form-body[_ngcontent-c0] {
    max-width: 560px;
    width: 100%;
    margin: 0 auto;
}
form label {
    color: #75787d;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}


form .form-control {
    border: 1px solid #A6A9AE;
    color: #75787d;
}


.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}


/******* calendar front ********/
.fc-basic-view .fc-body .fc-row {
    min-height: 2em !important;
   height: 34px !important;
}
select#sel1 {
    font-size: 16px;
    margin-bottom: 32px;
}

.fc-row .fc-content-skeleton {
    position: relative;
    z-index: 4;
    padding-bottom: 0;
    height: 34px;

}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    text-align: center;
    float: right;
    font-size: 15px;
    z-index: 1000000000;
    position: relative;
}
.fc-content-skeleton tbody {
    height: 0;
    z-index: 0;
}
a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end {
    border: none;
    height: 32px;
    bottom: 35px;
    right: 2px;
    width: 91%;
    position: relative;
    z-index: 100;
    background: none !important;
   
}
.fc-scroller.fc-day-grid-container {
    height: auto !important;
}
span.fc-time, span.fc-title {
    font-size: 0px;
}
.fc-toolbar.fc-header-toolbar {
     font-size: 15px; 
}

.align-self-center.halfway-fab.text-center img {
    display: initial;
}

input:focus { 
    border: 1px solid #d73984 !important;
    box-shadow: none !important;
}
.fc-view.fc-month-view.fc-basic-view table .fc-body {
    height: 205px;
}

.fc-scroller.fc-day-grid-container{
    overflow: hidden !important;
}
tr:first-child>td>.fc-day-grid-event {
    margin-top: 0;
}




@media screen and (max-width: 767px){
  
    #coming-soon[_ngcontent-c0] .formprofile[_ngcontent-c0] {
        max-width: 100%;
    }

    .col-md-12.datepicker-media {
        margin: auto;
    }
}

div#datatable_filter {
    float: right;
}


.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
    color: #fff;
}

a.btn_white {
    position: relative;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    background: transparent;
    color: #262626 !important;
    font-family: "SimplonBP-Bold-webfont",Arial,Helvetica,sans-serif !important;
    font-size: 18px;
    font-weight: normal;
    line-height: 71px;
    margin: 0;
    padding: 20px 50px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    border :1px solid #262626;
}
a.btn_white {
    position: relative;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    background: transparent;
    color: #262626 !important;
    font-family: "SimplonBP-Bold-webfont",Arial,Helvetica,sans-serif !important;
    font-size: 18px;
    font-weight: normal;
    line-height: 71px;
    margin: 0;
    padding: 20px 50px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    border :1px solid #262626;
}
a.btn_white:hover {

    background: #262626;
    color: #fff !important;
    opacity: 1 !important;
    
}
.no-margin{
    margin : 0 !important;
}

a.btn_white.small_margin {
    padding: 20px 20px;
}